<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Select goods</title>
        <style type="text/css">

            #greetingStyle {
                margin-left: 10%;
                margin-right: 10%;
                background: #fc0;
                padding: 10px;
                text-align: center;
            }
        </style>
        <style type="text/css">
            #formStyle {
                margin-left: 10%;
                margin-right: 10%;
                background: #01DF01;
                padding: 10px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="greetingStyle" th:inline="text">
          <h3>Dear, [[${name}]] your order:</h3>
        </div>
        <div id="formStyle" th:inline="text" >
            <tr th:each="object : ${goodsList}">
                <p><td th:text="${object}"></td>
            </tr>
          <h4>Total price: $ [[${price}]]</h4>
            <p><a href="/Online-shop2/sendMailWithInlineImage">Send check to email</a></p>
        </div>
    </body>
</html>