.createItem {
    margin-top: 5%;
    text-align: center;
    font-size: 35px;
    background-color: brown;
    background: url(https://mygoods.com.ua/uploads/images/%5E19B9FA780E520A0E93A1BB0761EAC61C838C73CE701C366FBC%5Epimgpsh_fullsize_distr.png) no-repeat;
    background-size: 100%;
  }

  .field {
    background-color: rgb(214, 205, 205);
    margin-top: 3%;
    text-align: center;
    font-size: 25px;
    height: 40px;
  }

  .button {
    width: 12%;
    font-size: 25px;
    height: 40px;
  }