.items {
    grid-area: c;
    text-align: center; 
    overflow: hidden;
    font-size: 15rem;
    background-color: brown;
    background: url(https://mygoods.com.ua/uploads/images/%5E19B9FA780E520A0E93A1BB0761EAC61C838C73CE701C366FBC%5Epimgpsh_fullsize_distr.png) no-repeat;
    background-size: 100%;
  }