.bar {
    grid-area: b;
    
    background-color: #8E679F;
    padding: 8%;
  }

  .operation a {
      color: green;
      text-decoration: none; 
  }

  .operation a.active {
    color: white;
  }

 .text {
    text-overflow: ellipsis;
    display: block;
    max-height: 1.6 rem;
    overflow: hidden;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2.1rem;
 }

  